@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
body {
  overflow-x: hidden;
  font-size: 1.2rem;
  padding-top: 4.8em;
  font-family: "Roboto Slab";
}

body h1, body h2, body h3, body h4, body h5, body a {
  font-family: "Raleway";
}

.text-decor {
  color: #e83a30;
}

.overflow-hidden {
  overflow: hidden;
}

.masthead .row.inner .nav-link {
  z-index: 100;
}

.cover-heading {
  color: #e83a30;
}

.btn-danger {
  background-color: #e83a30;
}

.navbar {
  background-color: #585858;
}

.navbar-toggler {
  background-color: #e83a30;
  border-color: #e83a30;
}

.navbar-nav {
  text-transform: uppercase;
  font-weight: 600;
}

.navbar-nav .nav-item .anchor-color {
  color: #e2e2e2;
  padding: 1.2em 2em;
}

.navbar-nav .nav-item .anchor-color:hover {
  color: #fff;
}

.navbar-nav li.nav-item.active > a.nav-link {
  color: #e83a30;
}

.navbar .btn {
  text-transform: uppercase;
  padding: 1.2em 2em;
  background-color: #e83a30;
  border-color: #e83a30;
  color: #e2e2e2;
}

.navbar .btn a {
  color: #e2e2e2;
  font-weight: 600;
  text-decoration: none;
}

.navbar .btn:hover {
  background-color: #ed665e;
}

.col-md.img-thumb {
  padding-right: 0;
}

.contact-bg {
  background-color: #e2e2e2;
}

.customIcons-contact {
  background-color: #3e3e3e;
}

.about-head {
  height: 38rem;
}

.about-head .about-item > img {
  min-width: 100%;
  height: 38rem;
}

.card-body h1 {
  color: #e83a30;
}

.btn-courses {
  font-size: 1.5rem;
}

.for-bg-card {
  background-color: #e2e2e2;
}

.cover-head {
  background: url(../img/course-headline.jpg) no-repeat;
  background-size: cover;
}

.cover-head h1.display-4.font-weight-normal {
  color: #eb544c;
}

.cover-head p.lead.font-weight-normal {
  color: #fcfcfc;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 43rem;
  background-color: #777;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 43rem;
}

.environment-head {
  height: 30rem;
}

.environment-head .environment-item > img {
  min-width: 100%;
  height: 30rem;
}

.headlineCustom {
  text-align: center;
  color: #3e3e3e;
}

.headlineCustom .lead {
  font-size: 1.5rem;
}

.formCustom {
  text-align: left;
}

input[type=text] {
  background-color: #fff;
  width: 100%;
  border: none;
  border-bottom: 2px solid #3e3e3e;
  text-transform: uppercase;
}

textarea {
  background-color: #fff;
  width: 100%;
  border: none;
  border-bottom: 2px solid #3e3e3e;
  text-transform: uppercase;
}

.btn-send {
  background-color: #e83a30;
  border: none;
  color: #e2e2e2;
  float: right;
  text-align: left;
  text-transform: uppercase;
}

.section-2 {
  margin-top: 4em;
  background-color: #d7d7d7;
  border-top: 1px solid #3e3e3e;
}

.fontIcons i {
  color: #fff;
}

.fontIcons i:hover {
  color: #e83a30;
  -webkit-transition: .2s all ease-out;
  transition: .2s all ease-out;
}

.footer {
  background-color: #3e3e3e;
}

.footer .row .col-md-3 .lead {
  color: #fff;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
            flex: 1;
  }
}

@media (max-width: 768px) {
  #navbarCollapse {
    padding: 27px 0px 27px 1em;
    text-align: center;
  }
  #navbarCollapse .navbar-nav .btn {
    margin: auto;
  }
  .footer {
    padding: 2rem 2rem;
  }
  .cover-head {
    padding: 2rem 1.2rem;
  }
  .carousel-item {
    height: 25rem;
    background-color: #777;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 25rem;
  }
}
/*# sourceMappingURL=custom-style.css.map */